
{{>header}}
        <p>Use this site to gey your weather</p>
        <form>
            <input type="text" name="location" placeholder="location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
{{>footer}}
